#content {
    box-flex: 1;
    -webkit-box-flex: 1;
    display: flex;
    overflow-y: auto;
    flex: 1;
    position: relative;

    .left,
    .right{
        flex:1;
        overflow-y: auto;
    }

    .left {
        position: relative;
        sborder-right:1px solid;
        box-shadow: 2px 2px 3px 1px gray;

        > .ready_chat_wrap {
            display: flex;
            flex-direction: column;
            height: 100%;

            .messages{
                flex: 1;
                padding: 10px 20px;
                overflow-y:auto;
            }
    
            .input{
                border-top:1px solid;
                align-self: flex-end;
                width: 100%;
                padding: 10px 0;
                background: aqua;
                
                &.active{
                    background: transparent;
                }

                .message_input {
                    background: transparent;
                    width: 100%;
                    resize: none;
                    padding: 0 10px;
                    font-size: 14px;
                    border: 0;
                    outline: 0;
                    xheight: 100%;
                    xdisplay: block;
                    min-height: 20px;
                    height: 20px;

                    
                }
            }
        }
    }

    .right {
        position: relative;

        .messages{
            padding:0px 30px;
        }

        .row .content > div:first-child{
            display: flex;

            .name{
                flex: 1;
            }

            .vote_result{
                font-size: 11px;
                color: #ddd;

                &:before{
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 14px;
                    background: #ddd;
                    margin-right: 10px;
                    vertical-align: bottom;
                }
            }            
        }

        .toggle_wrap{
            position: fixed;
            top:128px;
            left:50%;
            margin-left:50px;
            width:100%;
        }
    }
    

    .row {
        padding: 10px 0;
        display: flex;
        flex-direction: row;

        .content {
            flex: 1;
        }

        .avatar{
            width: 40px;
            height: 40px;
            background: lightgray;
            border-radius:50%;
            margin-right:10px;
            flex-shrink: 0;
        }

        .name{
            color: lightgray;
        }

        .message{
            word-break: break-all;
        }

        .vote{
            width:80px;
        }

        .like{
            &.count{
                display: inline-block;
                background: #ddd;
                padding: 5px 10px 5px 24px;
                color: #555;
                border-radius:8px;
                font-size: 11px;
                cursor: pointer;
                margin-top:5px;
            }
            &.active{
                background: orange;
                color: #fff;
            }
        }
        
        &.block {
            margin:10px 0;
            max-width: 90%;
            position: relative;

            &.pros, &.cons{
                xdisplay: flex;
                xflex-direction: row;
                width: 100%;
                border: 1px solid;
                padding: 10px 15px;
                border-radius: 10px;

                > div {
                    display: flex;
                    width: 100%;
                }
            }

            &.pros{
                background: lightcoral;
                margin-right: auto;
            }

            &.cons {
                margin-left: auto;
                background: lightcyan;
            }

            .name{
                color: black;
                font-weight: bold;
            }
        }
    }   
}