
.toggle_feedback{
    position: absolute;
    right: -500px;
    top: 0;
    background: #fff;
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    display: none;
    z-index: 300;

    box-shadow: 2px 2px 4px 0 rgba(28, 28, 28, 0.5);
    border: solid 1px #f3b578;
}
.toggle_feedback.active{
    display: flex;
}

.toggle_feedback .header{
    background-color: #ff7f50;
    font-size:20px;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}
.toggle_feedback section{
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.toggle_feedback section .desc {
    text-align: center
}
.toggle_feedback section .content {
    flex: 1;
    padding: 10px;
    text-align: center;
    xjustify-content: space-between;
    flex-direction: column;
    display: flex;
}
.toggle_feedback section .content textarea{
    font-size: 16px;
    width: 100%;
    resize: none;
    border-radius: 10px;
    border: 1px solid #555;
    padding:10px;
    display: block;
    flex: 1;
    margin-bottom: 10px;
    outline: 0;
}

.toggle_feedback section .content button {
    font-size: 14px;
    color: #fff;
    align-self: center;
    width: 141px;
    height: 33px;
    border-radius: 10px;
    background-color: #ff7f50;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
}