header {
    display: flex;
    flex-direction: column;
    background: black;

    .topic {
        padding: 20px 10px;
        display: flex;

        h1 {
            flex: 1;
            font-size:24px;
            color:#fff;
        }

        nav {
            display: flex;
            overflow: hidden;

            ul {
                overflow: hidden;
                align-self: center;

                li {
                    float: left;
                    margin:0 10px;

                    a {
                        color:#fff;
                    }
                }
            }
        }
    }

    .sub_topic{
        background: #555;
        padding: 20px;
        text-align: center;
        font-size:14px;
        box-shadow: 0 4px 2px -2px gray;
        position: relative;
        z-index: 300;
    }
}