header {
    display: flex;
    flex-direction: column;
    background: black;

    .topic {
        height: 100px;
        line-height: 100px;
        display: flex;
        padding: 0 20px;

        h1 {
            flex: 1;
            font-size:24px;
            font-weight: normal;
        }

        nav {
            display: flex;
            overflow: hidden;

            ul {
                overflow: hidden;
                align-self: center;

                li {
                    float: left;
                    margin:0 10px;

                    a {
                        color:#fff;
                    }
                }
            }
        }
    }

    .sub_topic{
        xpadding: 20px;
        text-align: center;
        
        
        box-shadow: 0 4px 2px -2px gray;
        position: relative;
        z-index: 300;

        height: 70px;
        line-height: 70px;
        background-color: #565656;
        box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.5);

        h3 {
            font-size: 20px;
            font-weight: normal;
        }
    }
}