.logo {
    width: 102px;
    height: 30px;
    background-image: linear-gradient(to right, #ff7804, #ffd7b5);
    font-family: Kavoon;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #ff7804, #ffd7b5);
  }
  