.toggle_chat {
    display: flex;
    position: absolute;
    xleft: 0;
    width: 500px;
    height: 500px;
    background: white;
    top:0px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px;
    z-index:100;

    &.hide{
        display: none;
    }

    header{
        text-align: center;
        color: #fff;
        height: 70px;
        line-height: 70px;
        background-color: #ffd7b5;
    }

    section {
        overflow-y: auto;
        flex: 1;
        overflow-y: auto;
        box-flex: 1;
        -webkit-box-flex: 1;
    }
    .messages {
        padding:0 15px;
    }
    .row {
        border-bottom: 1px solid #ddd;

        .label{
            display: inline-block;
            background: lightgray;
            color: #fff;
            font-size:11px;
            width:30px;
            height:18px;
            line-height:18px;
            text-align: center;
            border-radius:4px;
            padding: 0;
        }
        .name {
            font-size: 14px;
            color: #cccccc;
        }
        .message{
            color: #3c3c3c;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
        }
    }

    #footer{
        border-top:1px solid;
        align-self: flex-end;
        width:100%;
        display: flex;

        textarea{
            display: block;
            flex: 1;
            border: 0;
            outline: 0;
            padding: 10px;
            resize: none;
            font-size: 14px;
        }

        button {
            width: 76px;
        }
    }
}



.toggle{
    text-indent: -99999%;
    width: 31px;
    height: 70px;
    background-color: #ffd7b5;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);

    position: absolute;
    cursor: pointer;
    z-index: 200;

    // &:after{
    //     content: '';
    //     display: block;
        
    //     width: 15.5px;
    //     height: 15px;
    //     transform: rotate(270deg);
    //     background-color: #ffffff;
    // }
}
