.toggle_user_list{
    position: absolute;
    top: 0;
    right: -550px;
    background: #fff;
    width: 550px;
    height: 450px;
    display: flex;
    display: none;
    z-index: 300;

    box-shadow: 2px 2px 4px 0 rgba(28, 28, 28, 0.5);

    &.active {
        display: flex;
    }

    > div{    
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .header{
        background-color: #ff7f50;
        padding: 20px 0 20px 20px;
        color:#fff;
    }
}


.toggle_user_list > div.repesenters{
    width: 40%;
    
}

.toggle_user_list > div.repesenters .header {
    xborder-right: 0.5px solid bisque;
}

.toggle_user_list > div.all_users{
    flex: 1;
}

.toggle_user_list section {
    overflow-y: auto;
    flex: 1;
}
.toggle_user_list section li {
    padding: 10px 20px;
    display: flex;
}

.toggle_user_list section li .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: lightgray;
}
.toggle_user_list section li .avatar + div{
    align-self: center;
    margin-left: 10px;
    color: lightgray;
    flex: 1;
}

.toggle_user_list section li .avatar + div + div {
    background: aqua;
    height: 40px;
    padding: 0 10px;
    border-radius:10px;
    font-size: 14px;
    line-height: 40px;
}

.toggle_user_list .search{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.toggle_user_list .search input {
    display: block;
    width: 100%;
    height: 36px;
    font-size: 18px;
    border-radius: 3px;
    border:1px solid #ddd;
    padding:0 10px;
}


.close{
    position: absolute;
    right: 0;
    width: 50px;
    height:30px;;
}